
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Allure raw results
allure-results/

# Allure final report
allure-report/

# Env & logs
.env
*.log

# Playwright HTML report
playwright-report/